*,
* ::after,
* ::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  /*esta cantidad es porque el tamaño predeterminado es 16px pero nosotros queremos 10px, entonces es 10/16= 0.625*/
}

body {
  box-sizing: border-box;
}
